.ReportFormPage {
    @extend .routepage;

    fieldset {
        border: none;
    }

    input {
        border: 2px solid $color-gray-70;
        border-radius: 3px;
        display: block;
        padding: 0.25em 0.5em;
    }

    label {
        display: block;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .buttons {
        margin-bottom: 1.0em;
        padding: 1.0em;
        text-align: center;
    }
}
