// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale

$color-white: #ffffff;
$color-gray-95: #f6f6f6;
$color-gray-90: #e3e3e3;
$color-gray-70: #b0b0b0;
$color-gray-40: #696969;
$color-gray-15: #222222;
$color-black: #000000;

$color-red: #E94370;
$color-blue: #1897C6;

$color-dark: #243242;
$color-med: #B8C3D3;
$color-light: #EBE0DD;
