.button {
    background: $color-red;
    border-radius: 3px;
    color: $color-white;
    display: inline-block;
    font-size: 1.8rem;
    max-width: 50%;
    padding: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
}
