// Check out https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$system:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$fontstack-body: $system;
$fontstack-headings: $system;

html {
    font-size: 10px;
}

body {
    font-family: $fontstack-body;
    font-size: 2.2rem;
    line-height: 2.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontstack-headings;
    font-weight: bold;
}
