.ReportPledgePage {
    @extend .routepage;

    max-width: 411px;
    margin: 0 auto;

    padding: 1.0em;
    padding-top: 0;

    .agreement-button {
        padding: 1.0em;
        text-align: center;
    }
}
