@charset 'utf-8';

// Libraries
@import 'normalize.css/normalize';
@import 'mapbox-gl/dist/mapbox-gl';
@import 'font-awesome/scss/font-awesome';
@import 'react-select/dist/react-select';

// Defaults
@import './defaults/colors';
@import './defaults/tags';
@import './defaults/typography';

// Components
@import './defaults/page';
@import './defaults/button';
@import './shared/ActionButton/_styles';
@import './shared/Header/_styles';

// Pages
@import './views/HomePage/_styles';
@import './views/ReportPledgePage/_styles';
@import './views/ReportFormPage/_styles';
@import './views/ThankYouPage/_styles';
@import './views/MapPage/_styles';
